body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#board {
  display: inline-grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.board-cell {
  width: 60px;
  height: 60px;
  border: 1px solid grey;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  user-select: none;
}

.color-absent {
  background-color: #787c7e;
  transition: background-color 0.2s ease-out;
}

.color-correct {
  background-color: #6aaa64;
  transition: background-color 0.2s ease-out;
}

.color-present {
  background-color: #c9b458;
  transition: background-color 0.2s ease-out;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.keyboard-row {
  display: flex;
  gap: 5px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.key:active {
  transform: scale(0.95);
}

.pop-up {
  animation: pop-up 0.2s;
}

.flip-in {
  animation: flip-in 1.5s;
}

.flip-out {
  animation: flip-out 1.5s;
}

@keyframes pop-up {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes flip-in {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

@keyframes flip-out {
  from {
    transform: rotateX(-180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@media (max-width: 600px) {
  #keyboard {
    gap: 10px;
  }

  .keyboard-row {
    gap: 2px;
  }

  .key {
    width: 40px;
    height: 50px;
  }

  .key:active {
    transform: none;
  }

  [data-letter="ENTER"] {
    width: 65px;
  }
}
