body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  margin: 2px 0px;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#board {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  user-select: none;
}

.board-cell {
  width: 60px;
  height: 60px;
  border: 1px solid grey;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  transition: background-color 0.2s ease-out;
  z-index: 0;
}

.color-absent {
  background-color: #787c7e;
}

.color-present {
  background-color: #c9b458;
}

.color-correct {
  background-color: #6aaa64;
}

#overlay {
  position: absolute;
  width: 300px;
  height: 200px;
  padding: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}

#restartButton {
  margin-top: 15px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 0px;
  background-color: #787c7e;
  border-radius: 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  user-select: none;
}

.keyboard-row {
  display: flex;
  gap: 5px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 45px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

[data-letter="ENTER"],
[data-letter="<"] {
  width: 60px;
}

.key:active {
  transform: scale(0.95);
}

.pop-up {
  animation: pop-up 0.2s;
}

.flip-in {
  animation: flip-in 1.5s;
}

.flip-out {
  animation: flip-out 1.5s;
}

@keyframes pop-up {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes flip-in {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

@keyframes flip-out {
  from {
    transform: rotateX(-180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@media (max-width: 600px) {
  body {
    touch-action: manipulation;
  }

  h2 {
    margin-bottom: 10px;
  }

  #keyboard {
    gap: 10px;
  }

  .keyboard-row {
    gap: 5px;
  }

  .key:active {
    transform: none;
  }

  .key {
    width: 33px;
    height: 60px;
  }

  [data-letter="ENTER"],
  [data-letter="<"] {
    width: 50px;
  }

  .flip-in {
    animation: none;
  }

  .flip-out {
    animation: none;
  }
}
